<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    ACK
    <form action="/att-report" method="POST">
        <button class="btn" type="submit">Generate Report</button>
    </form>
    <form action="/postAttendance" method="POST">
        <button class="btn" type="submit">postAttendance</button>
    </form>
    <form action="/login" method="POST">
        <button class="btn" type="submit">postAttendance</button>
    </form>
</body>
</html>