<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Students</h1>
    <main>
        <h3>Add a Student</h3>
        <form class="product-form" action="/add-student" method="POST">
            <div class="form-control">
                <label for="title">Sap_id</label>
                <input type="text" name="sap_id" id="sap_id">
            </div>
            <div class="form-control">
                    <label for="title">First Name</label>
                    <input type="text" name="fname" id="fname">
            </div>
            <div class="form-control">
                    <label for="title">Last Name</label>
                    <input type="text" name="lname" id="lname">
            </div>
            <div class="form-control">
                <label for="title">Email_id</label>
                <input type="text" name="email_id" id="email_id">
            </div>
            <div class="form-control">
                <label for="title">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="title">Address</label>
                <input type="text" name="address" id="address">
            </div>
            <div class="form-control">
                <label for="title">Phone number:</label>
                <input type="text" name="phone_no" id="phone_no">
            </div>
            <div class="form-control">
                <label for="title">Year of joining</label>
                <input type="text" name="year_of_joining" id="year_of_joining">
            </div>
   

            <div class="form-control">
                <label for="imageUrl">Division</label>
                <input type="text" name="division" id="division">
            </div>
            <div class="form-control">
                <label for="price">Batch</label>
                <input type="text" name="batch" id="bbatch">
            </div>
            <div class="form-control">
                <label for="class_teacher">Semester</label>
                <input type name="semester" id="semester" >
            </div>

            <button class="btn" type="submit">Add Student</button>
        </form>
    </main>
    <main>
            <h3>Delete a student</h3>
            <form class="product-form" action="/delete-student" method="POST">
                <div class="form-control">
                    <label for="title">Sap_id</label>
                    <input type="text" name="sap_id" id="sap_id">
                </div>
                <button class="btn" type="submit">Delete Student</button>
            </form>
    </main>
    <main>
            <h3>Fetch all Students</h3>
            <form class="product-form" action="/fetch-all-student" method="POST">
                <button class="btn" type="submit">Fetch</button>
            </form>
    </main>
    <main>
        <h3>Find a student</h3>
        <form class="product-form" action="/find-student" method="POST">
            <div class="form-control">
                <label for="title">Sap_id</label>
                <input type="text" name="sap_id" id="sap_id">
            </div>
            <button class="btn" type="submit">Find student</button>
        </form>
    </main>
</body>
</html>