.header {
  background: transparent linear-gradient(0deg, #262a36 0%, #9d9fa7 0%) 0% 0%
    no-repeat padding-box;
  height: 80px;
  border: 0.5px solid #707070;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}

.heading {
  margin: 0 auto;
}

.details {
  background: #dddde7;
  // margin:10px 0 0 0;
}

.outer {
  background: #c1c1c5;
  width: 100%;
}

.headDet {
  padding: 10px;
  font-size: 1.2rem;
  color: #171736;
  font-weight: 500;
  background: #e3e5eb;
}

.det {
  padding: 10px;
  font-size: 1.2rem;
  color: #171736;
  font-weight: 500;
}

.details:hover{
    
}
